.home {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-size: cover;
}
.main {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: 700;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  > h2 {
    // opacity: 0;
    color: white;
    margin-right: 5rem;
    font-weight: 700;
    font-size: 2.5rem;
    transition: fadeIn 1s ease-in;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
