.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.navbar-links {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: transparent;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;

  > img {
    max-height: 2rem;
  }
}
